$light-font: #f8f8f8;
$add-button: #333;
$add-button-hover: #222;

$delete-button: #555;
$delete-button-hover: #333;

$load-button: orange;
$reset-button: #cf2e2e;

@mixin theme($primary: $add-button ) {
    cursor: pointer;
    background: $primary;
    color:  $light-font;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
}

button {
    border-radius: 0.8rem ;
}

.addButton {
    @include theme;
}
.addButton:hover {
    background: $add-button-hover;
}
.addButton:active {
    background: $add-button;
}


.deleteButton {
    @include theme($primary: $delete-button)
}
.deleteButton:hover {
    background: $delete-button-hover;
}
.deleteButton:active {
    background: $delete-button;
}



.loadExampleButton {
    @include theme($primary: $load-button);
}

.resetButton {
    @include theme($primary: $reset-button);
}