$light-font: #f8f8f8;

.addButton {
    cursor: pointer;
    background: #444;
    color: $light-font;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
}
.addButton:hover {
    background: #333;
}
.addButton:active {
    background: #444;
}

.deleteButton {
    cursor: pointer;
    background: #d11a2a;
    color: $light-font;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
}

.deleteButton:hover {
    background: #b41321;
}

.deleteButton:active {
    background: #d11a2a;
}