.formContainer {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    background: rgb(238, 238, 238);
    justify-content: center;
    width: 210mm;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.mainWrapper {
    display: flex;
    padding: 4rem 8rem;
    justify-content: center;
}