$light-font: #f8f8f8;
$gray-background: #444;

@mixin theme($primary: $add-button ) {
    cursor: pointer;
    background: $primary;
    color:  $light-font;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
}

.previewContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid cyan;
    width: 210mm;
    height: 297mm;
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerContainer {
    background: $gray-background;
    color: $light-font;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headerWrapper {
        margin: 4rem;
    }
    h1 {
        font-weight: 200;
        line-height: 5.2rem;
        margin: 0;
    }
    h3 {
        font-size: 2.4rem;
        font-weight: 300;
    }
}

.personalInfoSection {
    display: flex;
    color: $gray-background;
    font-weight: lighter;
    flex-wrap: nowrap;

    .contactsDiv {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
       
        //border: 1px solid $gray-background;
    }
    .contactsWrapper {
        margin: 4rem;
    }
    .profileDiv {
        flex-basis: 70%;
    }
    .profileWrapper {
        margin: 4rem;
    }
    h4{
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        white-space: nowrap;
    }
    p {
        font-weight: normal;
        font-size: 1.6rem;
    }
}
.skills {
    display: flex;
    background: blue;
    flex-basis: 30%;
}
.experienceSection {
    display: flex;
    height: 200px;
    background-color: #444;
}
.experienceItemsWrapper {
    flex-basis: 70%;
    padding: 0 4rem;
}

