$light-font: #f8f8f8;
$gray-background: #444;

@mixin theme($primary: $add-button ) {
    cursor: pointer;
    background: $primary;
    color:  $light-font;
    border: none;
    padding: 1.2rem 2.4rem;
    font-size: 2rem;
}

.previewContainer{
    display: flex;
    flex-direction: column;
    width: 210mm;
    height: 297mm;
    background: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.headerContainer {
    background: $gray-background;
    color: $light-font;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .headerWrapper {
        margin: 4rem;
    }
    h1 {
        font-weight: 200;
        line-height: 5.2rem;
        margin: 0;
    }
    h3 {
        font-size: 2.4rem;
        font-weight: 300;
    }
}

.contactInfoContainer {
    display: flex;
    color: $gray-background;
    font-weight: lighter;

    .contactsWrapper {
        display: flex;
        flex-direction: column;
        margin: 4rem;
        //border: 1px solid $gray-background;
    }
    h4{
        font-weight: normal;
    }
    p {
        font-weight: normal;
        font-size: 1.6rem;
    }
}